@use 'variables' as var;

.article-list {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var.$mainContentColor;

  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: calc(min(var.$mainContentWidth, 100vw) - 40px);
  }
}
