<div class="page-container">
  <div class="page-content article-list">
    <h1>{{ 'KEY_LIST_ARTICLES' | translate }}</h1>

    @if (isLoadingArticles) {
      <p>{{ 'KEY_LOADING' | translate }}</p>
    } @else if (articlesManager.length === 0) {
      <h5>{{ 'KEY_NO_ARTICLE_AVAILABLE' | translate }}</h5>
    } @else {
      @for (article of articlesManager; track article.id) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ article.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="article-list-actions">
            <a
              [routerLink]="['/articles/', article.id]"
              routerLinkActive="router-link-active">
              <button mat-button>{{ 'KEY_FIND_OUT_MORE' | translate }}</button>
            </a>
          </mat-card-actions>
        </mat-card>
      }
    }
  </div>
</div>
