@use 'variables' as glob;

// * { // debug
//     // outline: 1px solid red;
//     // background-color: yellow;
//     // border: 3px solid blue;
// }

.contact-form-names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  // margin: 10px;
  // justify-content: space-around;
}

.contact-form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  margin-bottom: 30px;
  flex-wrap: wrap;

  textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
}

.submit-button {
  margin-top: 10px;
}
