<section class="page-container">
  <div class="page-content contact-container">
    <div>
      <h1>{{ 'KEY_WANT_TO_CONTACT_ME' | translate }}</h1>
      <p>{{ 'KEY_FILL_FORM' | translate }}</p>
    </div>
    <form #contactFormRef [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="contact-form-names">
        <mat-form-field appearance="outline" class="contact-form-field">
          <mat-label for="firstName">{{
            'KEY_FIRST_NAME' | translate
          }}</mat-label>
          <input
            matInput
            type="text"
            id="firstName"
            formControlName="firstName"
            [placeholder]="'KEY_FIRST_NAME' | translate" />
          @if (firstName?.hasError('required')) {
            <mat-error>{{ 'KEY_ERROR_ON_FIRST_NAME' | translate }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="contact-form-field">
          <mat-label for="lastName">{{
            'KEY_LAST_NAME' | translate
          }}</mat-label>
          <input
            matInput
            type="text"
            id="lastName"
            formControlName="lastName"
            [placeholder]="'KEY_LAST_NAME' | translate" />
          @if (lastName?.hasError('required')) {
            <mat-error>{{ 'KEY_ERROR_ON_LAST_NAME' | translate }}</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="contact-form-field">
        <mat-label for="email">{{ 'KEY_EMAIL' | translate }}</mat-label>
        <input
          matInput
          type="email"
          id="email"
          formControlName="email"
          [placeholder]="'KEY_EMAIL' | translate" />
        @if (email?.hasError('email') && !email?.hasError('required')) {
          <mat-error class="error-message">{{
            'KEY_INVALID_FORMAT_EMAIL' | translate
          }}</mat-error>
        }
        @if (email?.hasError('required')) {
          <mat-error>{{ 'KEY_ERROR_ON_EMAIL' | translate }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="contact-form-field">
        <mat-label for="messageObject">{{
          'KEY_SUBJECT' | translate
        }}</mat-label>
        <mat-select
          name="messageObject"
          id="messageObject"
          formControlName="messageObject">
          @for (option of objectOptions; track $index) {
            <mat-option
              selected="selectedOption.key === option.key"
              [value]="option">
              {{
                option.key === 'default'
                  ? ('KEY_SUBJECT_DEFAULT_CHOICE' | translate)
                  : (option.label | translate)
              }}
            </mat-option>
          }
        </mat-select>
        @if (messageObject?.hasError('required')) {
          <mat-error>{{ 'KEY_ERROR_ON_SUBJECT' | translate }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="contact-form-field">
        <mat-label for="message">{{ 'KEY_MESSAGE' | translate }}</mat-label>
        <textarea
          matInput
          name="message"
          id="message"
          formControlName="message"
          placeholder="Message"
          wrap="soft"
          (input)="autoGrow($event)"
          maxlength="2000"></textarea>
        <mat-hint
          >{{ 'KEY_MESSAGE_HINT' | translate }}
          {{ message?.value.length | json }}</mat-hint
        >
        @if (message?.hasError('required')) {
          <mat-error>{{ 'KEY_MESSAGE_ERROR' | translate }}</mat-error>
        }
      </mat-form-field>
      <button mat-raised-button class="submit-button" type="submit">
        {{ 'KEY_SEND_FORM' | translate }}
      </button>
      <!-- <div class="error-message" *ngIf="this.contactForm?.invalid && this.triedToSubmit ">Veuillez remplir tous les champs.</div> -->
    </form>
  </div>
</section>
