@use 'variables' as glob;

$imageHeight: 200px;
$imageWidth: calc(
  $imageHeight * 1024 / 705
); // image height = image width * original image width / original image height
// * {
//     outline: 1px solid red;
// }

.cv-education,
.cv-experience,
.cv-profile,
.cv-certifications {
  margin-top: 20px;
}

.cv-education-item,
.cv-experience-item {
  position: relative;
  padding-bottom: 20px;
}

.cv-disk {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: absolute;
  top: 0.5rem;
  background-color: turquoise;
}

.cv-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: turquoise;
  left: calc(0.5rem - 1px);
  top: 1.5rem;
}

.cv-education-details,
.cv-experience-details {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.cv-certifications {
  // background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: $imageWidth;
    height: $imageHeight;
    margin: 10px;
  }
}

.cv-experience-stack {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.cv-experience-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.cv-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 40px;

  &-item {
    min-width: calc(glob.$mainContentWidth / 6);
  }
}
