<div class="page-container">
  <div class="page-content">
    <section>
      <h2>Mon profil</h2>
      <p class="cv-profile">
        {{ 'KEY_JOB_DESCRIPTION' | translate }}
      </p>
    </section>
    <section>
      <h2>{{ 'KEY_MY_FORMATION' | translate }}</h2>
      <div class="cv-education">
        <div class="cv-education-item">
          <div class="cv-education-shapes">
            <span class="cv-disk"></span>
            <span class="cv-line"></span>
          </div>
          <div class="cv-education-details">
            <h5>CPE Lyon</h5>
            <span>2017-2021 </span>
            <p>
              {{ 'KEY_CPE_DIPLOMA' | translate }}
            </p>
          </div>
        </div>
        <div class="cv-education-item">
          <div class="cv-education-shapes">
            <span class="cv-disk"></span>
          </div>
          <div class="cv-education-details">
            <h5>{{ 'KEY_BOARDING_SCHOOL' | translate }}</h5>
            <span>2011-2014</span>
            <p>
              {{ 'KEY_BOARDING_SCHOOL_DIPLOMA' | translate }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2>{{ 'KEY_MY_EXPERIENCES' | translate }}</h2>
      <div class="cv-experience">
        <div class="cv-experience-item">
          <div class="cv-experience-shapes">
            <span class="cv-disk"></span>
            <span class="cv-line"></span>
          </div>
          <div class="cv-experience-details">
            <div class="cv-experience-title">
              <h5>{{ 'KEY_JOB_GROUPAMA' | translate }}</h5>
              <img class="icons" [src]="iconsPath.GROUPAMA" alt="groupama" />
            </div>
            <span>07/2022 - 03/2024</span>
            <p>
              {{ 'KEY_JOB_GROUPAMA_DESCRIPTION' | translate }}
            </p>
            <p>{{ 'KEY_MAIN_ACTIVITIES' | translate }}</p>
            <ul>
              <li>
                {{ 'KEY_GROUPAMA_ACTIVITY_1' | translate }}
              </li>
              <li>
                {{ 'KEY_GROUPAMA_ACTIVITY_2' | translate }}
              </li>
              <li>{{ 'KEY_GROUPAMA_ACTIVITY_3' | translate }}</li>
              <li>{{ 'KEY_GROUPAMA_ACTIVITY_4' | translate }}</li>
              <li>{{ 'KEY_GROUPAMA_ACTIVITY_5' | translate }}</li>
              <li>{{ 'KEY_GROUPAMA_ACTIVITY_6' | translate }}</li>
              <li>
                {{ 'KEY_GROUPAMA_ACTIVITY_7' | translate }}
              </li>
              <li>{{ 'KEY_GROUPAMA_ACTIVITY_8' | translate }}</li>
              <li>{{ 'KEY_GROUPAMA_ACTIVITY_9' | translate }}</li>
            </ul>
            <p>{{ 'KEY_STACK' | translate }}</p>
            <div class="cv-experience-stack">
              <img
                [src]="iconsPath.HTML"
                alt="html"
                width="72px"
                height="72px" />
              <img [src]="iconsPath.CSS" alt="css" width="72px" height="72px" />
              <img
                [src]="iconsPath.SASS"
                alt="sass"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.JAVASCRIPT"
                alt="javascript"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.TYPESCRIPT"
                alt="typescript"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.ANGULARJS"
                alt="angularjs"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.ANGULAR"
                alt="angular"
                width="72px"
                height="72px" />
            </div>
          </div>
        </div>
        <div class="cv-experience-item">
          <div class="cv-experience-shapes">
            <span class="cv-disk"></span>
            <span class="cv-line"></span>
          </div>
          <div class="cv-experience-details">
            <div class="cv-experience-title">
              <h5>{{ 'KEY_JOB_SOLUTEC' | translate }}</h5>
              <img class="icons" [src]="iconsPath.SOLUTEC" alt="solutec" />
            </div>
            <span>09/2021 - 06/2022</span>
            <p>
              {{ 'KEY_JOB_SOLUTEC_DESCRIPTION' | translate }}
            </p>
            <p>{{ 'KEY_MAIN_ACTIVITIES' | translate }}</p>
            <ul>
              <li>
                {{ 'KEY_SOLUTEC_ACTIVITY_1' | translate }}
              </li>
              <li>
                {{ 'KEY_SOLUTEC_ACTIVITY_2' | translate }}
              </li>
              <li>{{ 'KEY_SOLUTEC_ACTIVITY_3' | translate }}</li>
              <li>
                {{ 'KEY_SOLUTEC_ACTIVITY_4' | translate }}
              </li>
              <li>{{ 'KEY_SOLUTEC_ACTIVITY_5' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_ACTIVITY_6' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_ACTIVITY_7' | translate }}</li>
            </ul>
            <p>{{ 'KEY_STACK' | translate }}</p>
            <div class="cv-experience-stack">
              <img
                [src]="iconsPath.HTML"
                alt="html"
                width="72px"
                height="72px" />
              <img [src]="iconsPath.CSS" alt="css" width="72px" height="72px" />
              <img
                [src]="iconsPath.SASS"
                alt="sass"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.JAVASCRIPT"
                alt="javascript"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.TYPESCRIPT"
                alt="typescript"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.REACT"
                alt="react"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.DJANGO"
                alt="django"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.PYTHON"
                alt="python"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.MONGODB"
                alt="mongodb"
                width="72px"
                height="72px" />
            </div>
          </div>
        </div>
        <div class="cv-experience-item">
          <div class="cv-experience-shapes">
            <span class="cv-disk"></span>
            <span class="cv-line"></span>
          </div>
          <div class="cv-experience-details">
            <div class="cv-experience-title">
              <h5>{{ 'KEY_SOLUTEC_INTERNSHIP' | translate }}</h5>
              <img class="icons" [src]="iconsPath.SOLUTEC" alt="solutec" />
            </div>
            <span>03/2021 - 08/2021</span>
            <p>
              {{ 'KEY_SOLUTEC_INTERNSHIP_DESCRIPTION' | translate }}
            </p>
            <p>{{ 'KEY_MAIN_ACTIVITIES' | translate }}</p>
            <ul>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_1' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_2' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_3' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_4' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_5' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_6' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_7' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_8' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_9' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_10' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_11' | translate }}</li>
              <li>{{ 'KEY_SOLUTEC_INTERNSHIP_ACTIVITY_12' | translate }}</li>
            </ul>
            <p>{{ 'KEY_STACK' | translate }}</p>
            <div class="cv-experience-stack">
              <img
                [src]="iconsPath.CSHARP"
                alt="csharp"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.UNITY"
                alt="unity"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.SQLITE"
                alt="sqlite"
                width="72px"
                height="72px" />
              <img [src]="iconsPath.SQL" alt="sql" width="72px" height="72px" />
            </div>
          </div>
        </div>
        <div class="cv-experience-item">
          <div class="cv-experience-shapes">
            <span class="cv-disk"></span>
          </div>
          <div class="cv-experience-details">
            <div class="cv-experience-title">
              <h5>{{ 'KEY_DPMO_INTERNSHIP' | translate }}</h5>
            </div>
            <span>10/2019 - 04/2020</span>
            <p>{{ 'KEY_DPMO_INTERNSHIP_DESCRIPTION' | translate }}</p>
            <p>{{ 'KEY_MAIN_ACTIVITIES' | translate }}</p>
            <ul>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_1' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_2' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_3' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_4' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_5' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_6' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_7' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_8' | translate }}</li>
              <li>{{ 'KEY_DPMO_INTERNSHIP_ACTIVITY_9' | translate }}</li>
            </ul>
            <p>{{ 'KEY_STACK' | translate }}</p>
            <div class="cv-experience-stack">
              <img
                [src]="iconsPath.PYTHON"
                alt="python"
                width="72px"
                height="72px" />
              <img
                [src]="iconsPath.BASH"
                alt="bash"
                width="72px"
                height="72px" />
              <img [src]="iconsPath.AWS" alt="aws" width="72px" height="72px" />
              <img [src]="iconsPath.OVH" alt="ovh" width="72px" height="72px" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2>{{ 'KEY_MY_CERTIFICATIONS' | translate }}</h2>
      <div class="cv-certifications">
        <a
          href="https://www.codingame.com/certification/CdGMOge8FQNiNt43-POScg"
          target="_blank">
          <img src="assets/images/cg_csharp_certification.jpg" alt="c#" />
        </a>
        <a
          href="https://www.codingame.com/certification/Aj_ewRDombQ8GVFUmQjg7Q"
          target="_blank">
          <img
            src="assets/images/cg_javascript_certification.jpg"
            alt="javascript" />
        </a>
        <a
          href="https://www.codingame.com/certification/oHZp59_jsohgtve4F9Li5w"
          target="_blank">
          <img src="assets/images/cg_python_certification.jpg" alt="python" />
        </a>
      </div>
    </section>
    <section>
      <h2>Mes compétences</h2>
      <ul class="cv-skills">
        <li class="cv-skills-item">Angular</li>
        <li class="cv-skills-item">AngularJs</li>
        <li class="cv-skills-item">React</li>
        <li class="cv-skills-item">Django</li>
        <li class="cv-skills-item">SQL</li>
        <li class="cv-skills-item">Python</li>
        <li class="cv-skills-item">C#</li>
        <li class="cv-skills-item">Java</li>
        <li class="cv-skills-item">HTML</li>
        <li class="cv-skills-item">CSS</li>
        <li class="cv-skills-item">SASS</li>
        <li class="cv-skills-item">JavaScript</li>
        <li class="cv-skills-item">Typescript</li>
        <li class="cv-skills-item">Bash</li>
        <li class="cv-skills-item">Git</li>
        <li class="cv-skills-item">Docker</li>
        <li class="cv-skills-item">Nginx</li>
        <li class="cv-skills-item">MongoDB</li>
        <li class="cv-skills-item">MySQL</li>
        <li class="cv-skills-item">REST</li>
        <li class="cv-skills-item">JSON</li>
      </ul>
    </section>
  </div>
</div>
