<div class="footer-container">
  <div class="footer-contents">
    <div class="footer-icons">
      <a [href]="linkedinLink" target="_blank">
        <button
          class="btn-linkedin"
          type="button"
          [class]="linkedinHover ? 'cursor-pointer' : ''"
          (focus)="linkedinIconMouseOver()"
          (mouseover)="linkedinIconMouseOver()"
          (mouseleave)="linkedinIconMouseLeave()">
          <img
            class="icons"
            [src]="linkedinHover ? linkedinAltIconPath : linkedinIconPath"
            alt="LinkedIn" />
        </button>
      </a>
      <a [href]="gitlabLink" target="_blank">
        <button
          class="btn-gitlab"
          type="button"
          [class]="gitlabHover ? 'cursor-pointer' : ''"
          (focus)="mouseOnGitlabIcon(true)"
          (mouseover)="mouseOnGitlabIcon(true)"
          (mouseleave)="mouseOnGitlabIcon(false)">
          <img
            class="icons"
            [src]="gitlabHover ? gitlabAltIconPath : gitlabIconPath"
            alt="GitLab" />
        </button>
      </a>
      <a [href]="njoyBlogLink" target="_blank">
        <button
          class="btn-njoy-blog"
          type="button"
          (focus)="mouseOnNjoyBlogIcon(true)"
          (mouseover)="mouseOnNjoyBlogIcon(true)"
          (mouseleave)="mouseOnNjoyBlogIcon(false)">
          <img
            class="icons"
            [class]="njoyBlogHover ? 'is-hovered cursor-pointer' : ''"
            [src]="njoyBlogIconPath"
            alt="njoy-blog" />
        </button>
      </a>
    </div>
    <div class="footer-language">
      <language-button></language-button>
    </div>
  </div>
  <div class="footer-creator">© 2024 Benjamin Gédéon</div>
</div>
