@use 'variables' as glob;

// * { // debug
//     outline: 1px solid red;
// }

.cursor-pointer {
  cursor: pointer;
}

.is-hovered {
  background-color: #ffffff;
  border-radius: 10%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: glob.$footerBackgroundColor;
  color: #333;
  min-height: glob.$minHeightFooter;
}

.footer-contents {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: space-evenly;
  height: auto;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  // button {
  //     background-color: transparent;
  // }
}

.footer-language {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: glob.$mainContentWidth) {
  .footer-language {
    display: none;
  }
}
