<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="isMenuOpened" class="sidenav">
    <div class="sidenav-buttons">
      <button mat-button class="close-btn" (click)="sidenav.close()">
        <mat-icon class="close">close</mat-icon>
      </button>
      <a mat-button [routerLink]="['/']" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>{{ 'KEY_HOME' | translate }}</span>
      </a>
      <a mat-button [routerLink]="['/articles']" (click)="sidenav.close()">
        <mat-icon>article</mat-icon>
        <span>{{ 'KEY_BLOGS' | translate }}</span>
      </a>
      <a mat-button [routerLink]="['/cv']" (click)="sidenav.close()">
        <mat-icon>person</mat-icon>
        <span>{{ 'KEY_ABOUT_ME' | translate }}</span>
      </a>
      <a mat-button [routerLink]="['/contact']" (click)="sidenav.close()">
        <mat-icon>message</mat-icon>
        <span>{{ 'KEY_CONTACT_ME' | translate }}</span>
      </a>
      <language-button class="language-button"></language-button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="main">
      <div class="header">
        <nav-bar (openMenu)="sidenav.open()"></nav-bar>
      </div>
      <div class="right-space"></div>
      <div class="content">
        <router-outlet />
      </div>
      <div class="left-space"></div>
      <div class="footer">
        <footer></footer>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
