@use 'variables' as glob;

// * { // debug
//     outline: 1px solid red;
// }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: glob.$mainContentColor;
  color: black;
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.125em;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto; // 3 lignes => 4 n° de lignes de grille (1, 2, 3, 4)
  grid-template-columns: auto 8fr auto; // 3 colonnes => 4 n° de colonnes de grille (1, 2, 3, 4)
  min-height: 100%;
}

button {
  border: none;
}

mat-sidenav-container {
  --mat-sidenav-container-background-color: #ffb600;
}

.sidenav-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 20px;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background-color: glob.$headerBackgroundColor;

  a {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: flex-start;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .language-button {
    margin-top: 100px;
  }
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  // background-color: yellowgreen;
  // min-height: glob.$minHeightHeader;
}

.right-space {
  display: none;
}

.left-space {
  display: none;
}

.content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: glob.$minHeightContent;
  width: min(glob.$mainContentWidth, 100%);
  background-color: glob.$mainContentColor;
  // outline: 1px solid red;
}

router-outlet + * {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: glob.$mainContentColor;
}

.footer {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  // background-color: yellowgreen;
  min-height: glob.$minHeightFooter;
}

@media screen and (min-width: calc(glob.$mainContentWidth)) {
  .right-space {
    display: block;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: glob.$sideWidth;
    background-color: glob.$mainContentColor;
  }
  .left-space {
    display: block;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    // width: 5em;
    width: glob.$sideWidth;
    background-color: glob.$mainContentColor;
  }
}
