<div class="page-container">
  <div class="page-content first-home-text">
    <h2>{{ 'KEY_TITLE_NAME' | translate }}</h2>
    <h5>{{ 'KEY_JOB' | translate }}</h5>
    <p>{{ 'KEY_JOB_DESCRIPTION' | translate }}</p>
    <a class="hp-btn" [routerLink]="['/cv']">
      <button mat-raised-button type="button" class="hp-btn__cv">
        {{ 'KEY_SEE_MY_CV' | translate }}
      </button>
    </a>
    <div class="hp-last-blogs-section">
      <h4>{{ 'KEY_LATEST_NEWS' | translate }}</h4>
      @if (isLoadingArticles) {
        <p>{{ 'KEY_LOADING' | translate }}</p>
      } @else if (articlesManager.length === 0) {
        <h5>{{ 'KEY_NO_ARTICLE_AVAILABLE' | translate }}</h5>
      } @else {
        @for (article of articlesManager; track article.id) {
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ article.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-actions class="article-list-actions">
              <a
                [routerLink]="['/articles/', article.id]"
                routerLinkActive="router-link-active">
                <button mat-button>
                  {{ 'KEY_FIND_OUT_MORE' | translate }}
                </button>
              </a>
            </mat-card-actions>
          </mat-card>
        }
      }
    </div>
  </div>
</div>
