@use 'variables' as glob;

// * { // debug
//     outline: 1px solid red;
// }

.hp-bg-image {
  position: absolute;
  display: flex;
  justify-content: center;
  // margin-top: -200px;
  width: 100%;
  height: 900px;
  z-index: -1;
}

.hp-bg-image-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.first-home-text {
  color: black;
  // font-size: 1.25em;
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
  }

  h4 {
    font-weight: bold;
    // font-size: 24px;
  }

  p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25em;
  }
}

.hp-btn {
  text-decoration: none;

  &__cv {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
  }
}

.hp-last-blogs-section {
  margin-top: 100px;
}

.article-list {
  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: calc(min(glob.$mainContentWidth, 100vw) - 40px);
  }
}
