<mat-form-field>
  <mat-label>{{ 'KEY_LANGUAGE' | translate }}</mat-label>
  <mat-select
    [(value)]="selectedLanguage"
    (selectionChange)="onLanguageChange()">
    @for (lang of languages; track lang) {
      <mat-option [value]="lang.code">{{ lang.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>
