<div class="page-container">
  <div class="page-content">
    <h1>{{ 'KEY_FORM_SENT_WITH_SUCCES' | translate }}</h1>
    <p>{{ 'KEY_FORM_SENT_MESSAGE' | translate }}</p>
    <button mat-raised-button class="submit-button" [routerLink]="['/']">
      {{ 'KEY_RETURN_TO_HOME_PAGE' | translate }}
    </button>
  </div>
</div>
