<mat-toolbar>
  <div class="is-mobile">
    <button
      mat-button
      aria-label="Menu"
      (click)="handleMenu()"
      class="navbar__menu full-width">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="is-desktop full-width">
    <a mat-button [routerLink]="['/']" class="navbar__first-item">
      <mat-icon>home</mat-icon>
      <span>{{ 'KEY_HOME' | translate }}</span>
    </a>
    <span class="navbar__spacer"></span>
    <a mat-button [routerLink]="['/articles']" class="navbar__items">
      <mat-icon>article</mat-icon>
      <span>{{ 'KEY_BLOGS' | translate }}</span>
    </a>
    <a mat-button [routerLink]="['/cv']" class="navbar__items">
      <mat-icon>person</mat-icon>
      <span>{{ 'KEY_ABOUT_ME' | translate }}</span>
    </a>
    <a mat-button [routerLink]="['/contact']" class="navbar__items">
      <mat-icon>message</mat-icon>
      <span>{{ 'KEY_CONTACT_ME' | translate }}</span>
    </a>
  </div>
</mat-toolbar>
