@use 'variables' as glob;

mat-toolbar {
  background: glob.$headerBackgroundColor;
  height: 100px;
  justify-content: center;
}

a {
  color: glob.$headerTextColor;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  gap: 5px;

  &:hover {
    color: glob.$headerTextHoverColor;
  }
}

button {
  color: glob.$headerTextColor;
  border: none;

  &:hover {
    color: glob.$headerTextHoverColor;
  }
}

.is-mobile {
  display: none;
}

.is-desktop {
  display: flex;
}

.full-width {
  width: 100%;
}

.navbar {
  &__menu {
    flex: auto;
  }
  &__items {
    flex: 1 0 auto;
  }

  &__first-item {
    flex: 1 0 auto;
  }

  &__spacer {
    flex: 5 1 auto;
  }
}

@media screen and (max-width: glob.$mainContentWidth) {
  .is-mobile {
    display: inline-block;
  }

  .is-desktop {
    display: none;
  }

  mat-toolbar {
    justify-content: flex-start;
  }
}
