.button-green {
  border: none;
  border-radius: 4px;
  background-color: #ffb600;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  transition: all 0.5s;

  &:hover {
    background-color: #ff9000;
    color: white;
    transition: all 0.5s;
  }
}

.btn-linkedin,
.btn-gitlab,
.btn-njoy-blog {
  border: none;
  background-color: transparent;
  // &:hover {
  //     // background-color: #ff9000;
  //     transition: all 0.5s;
  // }
}

.icons {
  width: 32px;
  height: 32px;
  background-color: transparent;
  // border: none;
}
