@mixin button-size(
  $padding-y,
  $padding-x,
  $font-size,
  $line-height,
  $border-radius
) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin button-style($background, $color, $border) {
  background: $background;
  color: $color;
  border: $border;
}

@mixin button-hover-focus {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-active($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}
