@use 'variables' as var;

.page {
  &-container {
    width: min(var.$mainContentWidth, 100vw);
    min-height: var.$minHeightContent;
    // padding: 20px;
    // gap: 20px;
    display: flex;
    flex-direction: column;
  }

  &-content {
    display: flexbox;
    padding: 20px;
  }
}
