// sizes
$mainMarginWidth: 10vw;
$mainContentWidth: calc(50em + $mainMarginWidth);
$sideWidth: calc((100vw - $mainContentWidth) / 2);
$minHeightHeader: 100px;
$minHeightFooter: 100px;
$minHeightContent: calc(100vh - $minHeightHeader - $minHeightFooter);

// colors
$mainContentColor: #f3e4cf;
// $sideColor: #007BFF;
$headerBackgroundColor: linear-gradient(160deg, #ff4800 25%, #ffb600 60%);
$headerTextColor: #222;
$headerTextHoverColor: #fffefe;
$footerBackgroundColor: #ffb600;

// font
$mainFontSize: 16px;
$mainFont: 'Roboto', sans-serif;
